.table > tbody > tr > td {
    vertical-align: middle;
    text-align: center;
}

table > tbody > tr > td > a {
    display: block;
    height:100%;
    width:100%;
}

.table th {
   text-align: center;
}

tr.border_bottom {
  border-bottom:2pt solid red;
}

/*/team*/
#container {
position:relative;
height: 180px;
}
.box {
position:absolute;
font-size: 150%;
vertical-align:middle;
}

.team_header {
font-weight: bold;
font-size: 250%;
}

.top{top:10%}
.middle{top:50%;margin-top:-10px;/*half of the .box height*/}
.bottom{bottom:0}

.left{left:5}
.center{left:27%;margin-left:-10px;/*half of the .box width*/}
.right{right:5px;}


#boxscore_home-list, #boxscore_away-list{
font-size: 80%;
}

