{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/custom_styles.css"/>
    {% block datatable_settings %}{% endblock %}
{% endblock %}


{% block title %}NBAI{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">
                NBAI
            </a>
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.standings') }}">Standings</a></li>
                <li><a href="{{ url_for('main.league_leaders') }}">League leaders</a></li>
                <li><a href="{{ url_for('main.players') }}">Players</a></li>
                <li><a href="{{ url_for('main.teams') }}">Teams</a></li>
                <li><a href="{{ url_for('main.games') }}">Games</a></li>
                <li><a href="{{ url_for('main.graphs') }}">Graphs</a></li>
            </ul>>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% block page_content %}{% endblock %}
        <br><br><br>
    </div>
    {% block footer %}
        <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <p class="navbar-text pull-left">© 2018 - Site by tomekk3108</p>
                <a href="https://www.youtube.com/" class="navbar-btn btn-danger btn pull-right">
                <span class="glyphicon glyphicon-star"></span>  Subscribe on YouTube</a>
            </div>
        </div>
    {% endblock %}
{% endblock %}
