{% extends "base.html" %}
{% import 'macros.html' as macros %}

{% block datatable_settings %}
    {{ macros.datatable_sort('games-list', 4, 'desc') }}
{% endblock %}

{% block page_content %}
<h1>NBA Games</h1>
    <table id="games-list" class="table table-striped table-bordered datatable table-hover" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Team home</th>
                <th>Points home</th>
                <th>Points away</th>
                <th>Team away</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
            <tr>
                {{ macros.bold_link_element_if(game.points_home, game.points_away, teams[game.team_home_id].city + ' ' +
                teams[game.team_home_id].name , '/team/' + game.team_home_id|string, 'td', game.team_home_id) }}

                {{ macros.bold_linked_element_if(game.points_home, game.points_away, game.points_home, 'td', '/game/' +
                game.id|string) }}

                {{ macros.bold_linked_element_if(game.points_away, game.points_home, game.points_away, 'td', '/game/' +
                game.id|string) }}

                {{ macros.bold_link_element_if(game.points_away, game.points_home, teams[game.team_away_id].city + ' ' +
                teams[game.team_away_id].name , '/team/' + game.team_away_id|string, 'td', game.team_away_id) }}

                <td>
                    {{game.game_date}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
