{% extends "base.html" %}
{% import 'macros.html' as macros %}

{% block datatable_settings %}
    <!--{{ macros.datatable_sort('boxscore_home-list', 1, 'desc', 50, search_bar='false', paginate='false', footer='false') }}-->
    <!--{{ macros.datatable_sort('boxscore_away-list', 1, 'desc', 50, search_bar='false', paginate='false', footer='false') }}-->
{% endblock %}

{% block page_content %}
    <div id="container" class='box center' style='border: 5px color: red'>
        <div class='team_header'>
            {{ macros.team_logo(game.team_home_id) }} {{ game.points_home }} : {{ game.points_away }} {{ macros.team_logo(game.team_away_id) }}</div>
    </div>
    <div style="width: 100%;">
        <h2>Boxscore:</h2>
        <div style="width: 50%; float: left;">
            <table id="boxscore_home-list" class="table table-striped table-bordered datatable table-hover" cellspacing="0">
                <thead>
                    <tr>
                        <th>Player</th>
                        <th>MIN</th>
                        <th>PTS</th>
                        <th>REB</th>
                        <th>OREB</th>
                        <th>DREB</th>
                        <th>AST</th>
                        <th>STL</th>
                        <th>TOV</th>
                        <th>BLK</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player_stats in game_stats_home %}
                    <tr>
                        <td>
                            {{ macros.add_link(player_stats.first_name[0] + '. ' + player_stats.last_name, '/player/' +
                            player_stats.PlayerGameStats.player_id|string) }}
                        </td>
                        <td>
                            {{ macros.add_link(player_stats.PlayerGameStats.min|string , '/player/' + player_stats.PlayerGameStats.player_id|string) }}
                        </td>
                        <td>{{ player_stats.PlayerGameStats.pts }}</td>
                        <td>{{ player_stats.PlayerGameStats.oreb + player_stats.PlayerGameStats.dreb }}</td>
                        <td>{{ player_stats.PlayerGameStats.oreb }}</td>
                        <td>{{ player_stats.PlayerGameStats.dreb }}</td>
                        <td>{{ player_stats.PlayerGameStats.ast }}</td>
                        <td>{{ player_stats.PlayerGameStats.stl }}</td>
                        <td>{{ player_stats.PlayerGameStats.tov }}</td>
                        <td>{{ player_stats.PlayerGameStats.blk }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div style="width: 50%; float: right;">
            <table id="boxscore_away-list" class="table table-striped table-bordered datatable table-hover" cellspacing="0">
                <thead>
                    <tr>
                        <th>Player</th>
                        <th>MIN</th>
                        <th>PTS</th>
                        <th>REB</th>
                        <th>OREB</th>
                        <th>DREB</th>
                        <th>AST</th>
                        <th>STL</th>
                        <th>TOV</th>
                        <th>BLK</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player_stats in game_stats_away %}
                    <tr>
                        <td>
                            {{ macros.add_link(player_stats.first_name[0] + '. ' + player_stats.last_name, '/player/' +
                            player_stats.PlayerGameStats.player_id|string) }}
                        </td>
                        <td>
                            {{ macros.add_link(player_stats.PlayerGameStats.min|string, '/player/' + player_stats.PlayerGameStats.player_id|string) }}
                        </td>
                        <td>{{ player_stats.PlayerGameStats.pts }}</td>
                        <td>{{ player_stats.PlayerGameStats.oreb + player_stats.PlayerGameStats.dreb }}</td>
                        <td>{{ player_stats.PlayerGameStats.oreb }}</td>
                        <td>{{ player_stats.PlayerGameStats.dreb }}</td>
                        <td>{{ player_stats.PlayerGameStats.ast }}</td>
                        <td>{{ player_stats.PlayerGameStats.stl }}</td>
                        <td>{{ player_stats.PlayerGameStats.tov }}</td>
                        <td>{{ player_stats.PlayerGameStats.blk }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
