{% extends "base.html" %}

{% block page_content %}
    <h1>Graphs</h1>
    <body>
        <figure>
          <embed type="image/svg+xml" src="/static/graphs/avg_ages.svg" />
        </figure>
    </body>
    <body>
        <figure>
          <embed type="image/svg+xml" src="/static/graphs/avg_weights.svg" />
        </figure>
    </body>
    <body>
        <figure>
          <embed type="image/svg+xml" src="/static/graphs/avg_heights.svg" />
        </figure>
    </body>
{% endblock %}
