{% extends "base.html" %}

{% block page_content %}
    <h1>Home page</h1>
    <p>This page can be viewed by all users.</p>
    <p>You are not logged in because it is not possible.</p>
{% endblock %}
