{% extends "base.html" %}
{% import 'macros.html' as macros %}

{% block datatable_settings %}
    <!--{{ macros.datatable_sort('boxscore_home-list', 1, 'desc', 50, search_bar='false', paginate='false', footer='false') }}-->
    <!--{{ macros.datatable_sort('boxscore_away-list', 1, 'desc', 50, search_bar='false', paginate='false', footer='false') }}-->
{% endblock %}

{% block page_content %}

            <table id="top_reb-list" class="table table-striped table-bordered datatable table-hover" cellspacing="0">
                <thead>
                    <tr>
                        <th>Player</th>
                        <th>Rebounds per game</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in top_reb %}
                    <tr>
                        <td>
                            {{ macros.add_link((player.first_name + ' ' + player.last_name), '/player/' + player.id|string) }}
                        </td>
                        <td>
                            {{ ((player.PlayerTotalStats.dreb_tot + player.PlayerTotalStats.oreb_tot)/player.PlayerTotalStats.games)|round(1) }}
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <table id="top_pts-list" class="table table-striped table-bordered datatable table-hover" cellspacing="0">
                <thead>
                    <tr>
                        <th>Player</th>
                        <th>Points per game</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in top_pts %}
                    <tr>
                        <td>
                            {{ macros.add_link((player.first_name + ' ' + player.last_name), '/player/' + player.id|string) }}
                        </td>
                        <td>
                            {{ ((player.PlayerTotalStats.pts_tot)/player.PlayerTotalStats.games)|round(1) }}
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <table id="top_ast-list" class="table table-striped table-bordered datatable table-hover" cellspacing="0">
                <thead>
                    <tr>
                        <th>Player</th>
                        <th>Assists per game</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in top_ast %}
                    <tr>
                        <td>
                            {{ macros.add_link((player.first_name + ' ' + player.last_name), '/player/' + player.id|string) }}
                        </td>
                        <td>
                            {{ ((player.PlayerTotalStats.ast_tot)/player.PlayerTotalStats.games)|round(1) }}
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>


{% endblock %}
