<!--BASIC MACROS-->
{% macro bold_text_if(value1, value2, text) %}
    {% if value1 > value2 %}<b>{% endif %}{{ text }}{% if value1 > value2 %}</b>{% endif %}
{% endmacro %}

{% macro bold_text(text) %}
    <b>{{ text }}</b>
{% endmacro %}



{% macro add_link(text, url) %}
    <a href={{ url }} style="text-decoration: none; color: #000000">{{ text }}</a>
{% endmacro %}

{% macro add_element(text, element) %}
    <{{ element }}>{{ text }}</{{ element }}>
{% endmacro %}

<!--FOR GAME LIST-->
<!--BOLD IF FIRST VALUE IS GREATER AND ADD LINK TO A SPECIFIED HTML ELEMENT-->
{% macro bold_link_element_if(value1, value2, text, url, element, team_id) %}
    {% set bold_text =  bold_text_if(value1, value2, text)  %}
    {% set bold_text_img =  small_team_logo(team_id) + bold_text %}
    {% set linked_text =  add_link(bold_text_img, url)  %}
    {{ add_element(linked_text, element) }}
{% endmacro %}

<!--BOLD IF + ADD LINK FOR TEXT-->
{% macro bold_linked_element_if(value1, value2, text, element, url) %}
    {% set bold_text =  bold_text_if(value1, value2, text)  %}
    {% set bold_linked_text = add_link(bold_text, url) %}
    {{ add_element(bold_linked_text, element) }}
{% endmacro %}

<!--BOLD IF FIRST VALUE IS GREATER IN A SPECIFIED HTML ELEMENT-->
{% macro bold_element_if(value1, value2, text, element) %}
    {% set bold_text =  bold_text_if(value1, value2, text)  %}
    {{ add_element(bold_text, element) }}
{% endmacro %}

<!--PLAYER IMAGE (player.id)-->
{% macro player_image(player_id) %}
    <img src="/static/players_images/{{ player_id|string }}.png">
{% endmacro %}

{% macro team_logo(team_id) %}
    <img src="/static/team_logos/{{ team_id|string }}.svg">
{% endmacro %}

{% macro small_team_logo(team_id) %}
    <img src="/static/team_logos/{{ team_id|string }}.svg" height="38" width="38">
{% endmacro %}


<!--ORDER DATATABLE-->
{% macro datatable_sort(table_id, column, direction, default_length=25, search_bar='true', paginate='true', footer='true') %}
    <script>
        $(document).ready(function(){
            $('#{{ table_id }}').DataTable( {
                "order": [[ {{ column }}, "{{ direction }}" ]],
                "iDisplayLength": {{ default_length }},
                "searching": {{ search_bar }},
                "bPaginate": {{ paginate }},
                "bInfo": {{ footer }}
            });
        });
    </script>
{% endmacro %}

