{% extends "base.html" %}
{% import 'macros.html' as macros %}

{% block datatable_settings %}
    {{ macros.datatable_sort('players-list', 1, 'asc') }}
{% endblock %}

{% block page_content %}
    <h1>NBA Players</h1>
    <table id="players-list" class="table table-striped table-bordered datatable table-hover" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Team</th>
                <th>Position</th>
                <th>Height (cm)</th>
                <th>Weight (kg)</th>
                <th>Birth date</th>
                <th>Birth country</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
            <tr style='cursor: pointer'>
                <td>
                    {{ macros.add_link(player.Player.first_name, '/player/' + player.Player.id|string) }}
                </td>
                <td>
                    {{ macros.add_link(player.Player.last_name, '/player/' + player.Player.id|string) }}
                </td>
                <td>
                    {{ macros.add_link(macros.small_team_logo(player.Player.team_id) + player.short_name, '/team/' +
                    player.Player.team_id|string) }}
                </td>
                <td>
                    {{ macros.add_link(player.Player.position, '/player/' + player.Player.id|string) }}
                </td>
                <td>
                    {{ macros.add_link(player.Player.height, '/player/' + player.Player.id|string) }}
                </td>
                <td>
                    {{ macros.add_link(player.Player.weight, '/player/' + player.Player.id|string) }}
                </td>
                <td>
                    {{ macros.add_link(player.Player.birth_date, '/player/' + player.Player.id|string) }}
                </td>
                <td>
                    {{ macros.add_link(player.Player.birth_country, '/player/' + player.Player.id|string) }}
                </td>
                <td>
                    {{ macros.add_link(calculate_age(player.Player.birth_date), '/player/' + player.Player.id|string)  if player.Player.birth_date != None }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
