{% extends "base.html" %}
{% import 'macros.html' as macros %}

{% block page_content %}
    <h1>{{ player.first_name }} {{ player.last_name }}</h1>
    {{ macros.add_link(macros.small_team_logo(team.id) + team.city + ' ' +  team.name, '/team/' + team.id|string) }}
    <br>
    {{ macros.player_image(player.id) }}

    <h1>Average stats</h1>
            <table id="player_stats-list" class="table table-striped table-bordered datatable table-hover" width="100%">
                <thead>
                    <tr>
                        <th>Season</th>
                        <th>Season stage</th>
                        <th>Min</th>
                        <th>Pts</th>
                        <th>Reb</th>
                        <th>Ast</th>
                        <th>Stl</th>
                        <th>Blk</th>
                        <th>Tov</th>
                        <th>PF</th>
                        <th>FG%</th>
                        <th>FT%</th>
                        <th>3P%</th>
                        <th>+/-</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stats in player_stats %}
                    <tr>
                        <td>{{ stats.season }}</td>
                        <td>{{ stats.season_stage }}</td>
                        <td>{{ (stats.min_tot/stats.games)|round(2) }}</td>
                        <td>{{ (stats.pts_tot/stats.games)|round(2) }}</td>
                        <td>{{ ((stats.oreb_tot+stats.dreb_tot)/stats.games)|round(2) }}</td>
                        <td>{{ (stats.ast_tot/stats.games)|round(2) }}</td>
                        <td>{{ (stats.stl_tot/stats.games)|round(2) }}</td>
                        <td>{{ (stats.blk_tot/stats.games)|round(2) }}</td>
                        <td>{{ (stats.tov_tot/stats.games)|round(2) }}</td>
                        <td>{{ (stats.pf_tot/stats.games)|round(2) }}</td>
                        <td>{{ (stats.fgm_tot/stats.fga_tot)|round(2) if stats.tga_tot != 0 }}</td>
                        <td>{{ (stats.ftm_tot/stats.fta_tot)|round(2) if stats.fta_tot != 0 }}</td>
                        <td>{{ (stats.tpm_tot/stats.tpa_tot)|round(2) if stats.tpa_tot != 0}}</td>
                        <td>{{ (stats.pm_tot/stats.games)|round(2) }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
{% endblock %}
