{% extends "base.html" %}
{% import 'macros.html' as macros %}



{% block page_content %}
    <h1>Standings</h1>
        <h2>Western conference</h2>
        <table id="standings_w-list" class="standing_table table table-striped table-bordered datatable table-hover" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th>TEAM</th>
                    <th>W</th>
                    <th>L</th>
                    <th>WIN%</th>
                    <th>CONF</th>
                    <th>DIV</th>
                    <th>HOME</th>
                    <th>ROAD</th>
                    <th>L10</th>
                    <th>STREAK</th>
                </tr>
            </thead>
            <tbody>
                {% for standing in standings_w %}
                {%- if loop.index == 8 -%}
                    <tr class='border_bottom'>
                {% else %}
                    <tr>
                {% endif %}
                    <td>{{ macros.bold_text(loop.index|string + '.') }}</td>
                    <td>{{ macros.add_link(macros.small_team_logo(standing.Standings.team_id) + macros.bold_text(standing.city + ' ' + standing.name),
                        '/team/' + standing.Standings.team_id|string) }}</td>
                    <td>{{ standing.Standings.wins }}</td>
                    <td>{{ standing.Standings.losses }}</td>
                    <td>{{ standing.Standings.win_perc }}</td>
                    <td>{{ standing.Standings.conf_wins }}-{{ standing.Standings.conf_losses }}</td>
                    <td>{{ standing.Standings.div_wins }}-{{ standing.Standings.div_losses }}</td>
                    <td>{{ standing.Standings.home_wins }}-{{ standing.Standings.home_losses }}</td>
                    <td>{{ standing.Standings.away_wins }}-{{ standing.Standings.away_losses }}</td>
                    <td>{{ standing.Standings.last_ten }}</td>
                    <td>{{ standing.Standings.streak }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Eastern Conference</h2>
         <table id="standings_e-list" class="standing_table table table-striped table-bordered datatable table-hover" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th>TEAM</th>
                    <th>W</th>
                    <th>L</th>
                    <th>WIN%</th>
                    <th>CONF</th>
                    <th>DIV</th>
                    <th>HOME</th>
                    <th>ROAD</th>
                    <th>L10</th>
                    <th>STREAK</th>
                </tr>
            </thead>
            <tbody>
                {% for standing in standings_e %}
                {%- if loop.index == 8 -%}
                    <tr class='border_bottom'>
                {% else %}
                    <tr>
                {% endif %}
                    <td>{{ macros.bold_text(loop.index|string + '.') }}</td>
                    <td class="left_align">{{ macros.add_link(macros.small_team_logo(standing.Standings.team_id) + macros.bold_text(standing.city + ' ' + standing.name),
                        '/team/' + standing.Standings.team_id|string) }}</td>
                    <td>{{ standing.Standings.wins }}</td>
                    <td>{{ standing.Standings.losses }}</td>
                    <td>{{ standing.Standings.win_perc }}</td>
                    <td>{{ standing.Standings.conf_wins }}-{{ standing.Standings.conf_losses }}</td>
                    <td>{{ standing.Standings.div_wins }}-{{ standing.Standings.div_losses }}</td>
                    <td>{{ standing.Standings.home_wins }}-{{ standing.Standings.home_losses }}</td>
                    <td>{{ standing.Standings.away_wins }}-{{ standing.Standings.away_losses }}</td>
                    <td>{{ standing.Standings.last_ten }}</td>
                    <td>{{ standing.Standings.streak }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}
