{% extends "base.html" %}
{% import 'macros.html' as macros %}

{% block page_content %}
    <h1>NBA Teams</h1>
<h2>{{ city }}</h2>
<hr>
<table id="team-list" class="table table-striped table-bordered datatable table-hover" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Team</th>
            <th>Short name</th>
        </tr>
    </thead>
    {% for team in teams %}
    <tr style='cursor: pointer'>
        <td>
            {{ macros.add_link(macros.team_logo(team.id) + macros.bold_text(team.city + ' ' + team.name),
            '/team/' + team.id|string) }}
        </td>
        <td>
            {{team.short_name}}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
