{% extends "base.html" %}
{% import 'macros.html' as macros %}

{% block datatable_settings %}
    {{ macros.datatable_sort('team_players-list', 3, 'desc', 50) }}
    {{ macros.datatable_sort('team_games-list', 4, 'desc', 5) }}
{% endblock %}

{% block page_content %}
    <div id="container" class='box' style='border: 5px solid {{team.color}}'>
        <div class='team_header box top left'>{{ macros.team_logo(team.id) }} {{ team.city }} {{ team.name }}</div>
        <div class="box top right">Record: {{ macros.bold_text( standing.wins|string + '-' + standing.losses|string) }}<br>
        Streak: {{  macros.bold_text(standing.streak|string) }}<br>
        Last ten games: {{  macros.bold_text(standing.last_ten) }}</div>
    </div >
    <h2>Last games:</h2>
     <table id="team_games-list" class="table table-striped table-bordered datatable table-hover" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Team home</th>
                <th>Points home</th>
                <th>Points away</th>
                <th>Team away</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
            <tr>
                {{ macros.bold_link_element_if(game.points_home, game.points_away, teams[game.team_home_id].city + ' ' +
                teams[game.team_home_id].name , '/team/' + game.team_home_id|string, 'td', game.team_home_id) }}

                {{ macros.bold_linked_element_if(game.points_home, game.points_away, game.points_home, 'td', '/game/' +
                game.id|string) }}

                {{ macros.bold_linked_element_if(game.points_away, game.points_home, game.points_away, 'td', '/game/' +
                game.id|string) }}

                {{ macros.bold_link_element_if(game.points_away, game.points_home, teams[game.team_away_id].city + ' ' +
                teams[game.team_away_id].name , '/team/' + game.team_away_id|string, 'td', game.team_away_id) }}

                <td>
                    {{game.game_date}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Team roster:</h2>
    <table id="team_players-list" class="table table-striped table-bordered datatable table-hover" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Jersey number</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Position</th>
                <th>Height (cm)</th>
                <th>Weight (kg)</th>
                <th>Birth date</th>
                <th>Birth country</th>
                <th>Birth city</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            {% for player in team_players %}
            <tr style='cursor: pointer'>
                <td>
                    {{ macros.add_link('#' + player.jersey_number, '/player/' + player.id|string) }}
                </td>
                <td>
                    {{ macros.add_link(player.first_name, '/player/' + player.id|string) }}
                </td>
                <td>
                    {{ macros.add_link(player.last_name, '/player/' + player.id|string) }}
                </td>
                <td>
                    {{ macros.add_link(player.position, '/player/' + player.id|string) }}
                </td>
                <td>
                    {{ macros.add_link(player.height, '/player/' + player.id|string) }}
                </td>
                <td>
                    {{ macros.add_link(player.weight, '/player/' + player.id|string) }}
                </td>
                <td>
                    {{ macros.add_link(player.birth_date, '/player/' + player.id|string) }}
                </td>
                <td>
                    {{ macros.add_link(player.birth_country, '/player/' + player.id|string) }}
                </td>
                <td>
                    {{ macros.add_link(player.birth_city, '/player/' + player.id|string) }}
                </td>
                <td>
                    {{ macros.add_link(calculate_age(player.birth_date), '/player/' + player.id|string) if player.birth_date != None }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
